@font-face {
	font-family: 'TTLakes-Bold';
	font-style: Bold;
	src: url('C:\Users\UserPC\Desktop\project\fonts\MiConv.com__TTLakes-Bold.woff') format('woff'), url('C:\Users\UserPC\Desktop\project\fonts\MiConv.com__TTLakes-Bold.woff2') format('woff2');
}