* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container {
	width: 100%;
	height: 100vh;	
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	height: 87px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px #D9FFF5;
}

.container__header_left {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container__header_right {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.header__burger {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #FF3E79;
	border: none;
	margin-top: 24px;
	margin-left: 16px;
	margin-bottom: 24px;
	margin-right: 16.73px;
}

.header__burger_elem1,
.header__burger_elem2,
.header__burger_elem3 {
	position: absolute;
	background-color: white;
	height: 2px;
}

.header__burger_elem1 {
	width: 18px;
	border-radius: 1px;
	margin-top: 12px;
	margin-bottom: 26px;
	margin-left: 11px;
}

.header__burger_elem2 {
	width: 10px;
	border-radius: 1px;
	margin-top: 19px;
	margin-bottom: 19px;
	margin-left: 11px;

}
.header__burger_elem3 {
	width: 14px;
	border-radius: 1px;
	margin-top: 26px;
	margin-bottom: 12px;
	margin-left: 11px;

}

.logo__divider {
	margin-left: 16.73px;
}

.header__button1,
.header__button2,
.header__button3,
.header__button4,
.header__button5 {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #FF3E79;
	border: none;
}


.header__button1 {
	margin-left: 250.73px;
	margin-top: 24px;
}

.header__button1-elem {
	margin: 11px;
}


.header__button2 {
	margin-left: 16px;
	margin-top: 24px;
}

.header__button2-elem {
	margin: 11px;
}

.header__button3 {
	margin-left: 16px;
	margin-top: 24px;
}

.header__button3-elem {
	margin: 10px;
}

.logo__divider2 {
	margin-top: 28px;
	margin-left: 20px;
}

.header__button4 {
	margin-top: 24px;
	margin-left: 20px;
	margin-right: 16px;
}

.header__button4-elem {
	margin: 10px;
}

.header__button5 {
	margin-top: 24px;
}

.header__button5-elem {
	margin: 10px;
	margin-left: 12px;
}

main {
	background-color: #F8F8F8;
	font-family: sans-serif;
	display: flex;
	flex-flow: wrap;
}

h1 {
	margin-top: 24px;
	margin-left: 12px;
	align-content: center;
	line-height: 40px;
	font-size: 28px;
}

.content__highlight {
	margin-top: 24px;
}

form {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}


button {
	border: none;
	margin-left: 16px;
	width: 246px;
	height: 40px;
	border-radius: 6px;
	text-align: center;
	margin-top: 24px;
	background-color: #F8F8F8;
	font-size: 16px;
	color: #7E7E82;
}

form > button {
	white-space: nowrap;
}


form > button:hover {
	background-color: #FFFFFF;
	border: 2px solid #B8FFEC;
	cursor: pointer;
}

.section {
	margin-top: 24px;
	margin-left: 16px;
	margin-right: 16px;
	font-size: 14px;
	width: 288px;
	height: 90px;
	color: #1B1C21;
	text-align: left;
	line-height: 18px;
	vertical-align: top;
	letter-spacing: 0.2px;
	padding-right: 16px;
}


.text {
	font-size: 14px;
	width: 288px;
	color: #1B1C21;
	text-align: left;
	line-height: 18px;
	vertical-align: top;
	letter-spacing: 0.2px;
	margin-top: 25px;
}


.icon {
	display: inline-block;
	margin-left: 24.29px;
	margin-top: 16px;
}

h2 {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	margin-left: 16px;
	vertical-align: top;
}

.container__content_img {
	min-width: 320px;
	min-height: 230.8px;
	margin-top: 56px;
}






@media (max-width: 767px) {
	.header__button1,
	.header__button2,
	.header__button3,
	.logo__divider2,
	.text {
		display: none;
	}
}


@media (min-width: 1120px) {
	header {
		display: none;
	}
}


@media (min-width: 768px) {
	.header__burger {
		margin-left: 24px;
	}
}


@import 'fonts.css';


@media (max-width: 767px) {
	.container__header_right {
		flex-direction: row-reverse;
	}
}

@media (min-width: 767px) {
	.container__content_img {
	min-width: 360px;
	min-height: 259.66px;
	margin-top: 40px;
	margin-left: 48px;
	margin-bottom: 14.34px;
	}
}

@media (min-width: 767px) {
	.icon {
		margin-top: 10px;
	}
}

@media (min-width: 767px) {
	.section {
		width: 312px;
		min-height: 160px;
		text-align: left;
	}
}

@media (min-width: 767px) {
	.text {
		width: 312px;
		text-align: left;
	}
}

@media (max-width: 1119px) {
	.address,
	.reviews,
	.next,
	.header__button4-text,
	.header__button5-text {
		display: none;
	}
}

@media (min-width: 1120px) {
	form.reviews > button {
		margin-right: 993px;
		margin-top: 14.63px;
		margin-left: 56px;
		height: 24px;
		width: 71px;
		border-radius: 0;
	}
}

@media (min-width: 1120px) {
	.next {
		margin-top: 0;
	}
}


@media (min-width: 1120px) {
	.section,
	.text,
	.next {
		width: 490px;
	}
}

@media (min-width: 1120px) {
	.container__content_img {
		width: 531.35px;
		height: 383.24px;
	}
}